@using System.Net;
@using hitfit.app.Models
@using HtmlAgilityPack;
@*@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    User user = null;
    if (SignInManager.IsSignedIn(User))
    {
        user = await UserManager.FindByNameAsync(User.Identity.Name);
    }
}*@

<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>Здесь все статьи</p>
            <h2>Статьи</h2>
        </header>
    </div>
</section>

@*@if (user != null && user.IsAdministrator)
{
    <div id="main" class="container">
        <form method="post">
            <div class="align-center">
                <a class="button cpecial" asp-area="" asp-controller="Article" asp-action="AddArticle">Добавить статью</a>
            </div>
        </form>
    </div>
}*@

    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">
                @foreach (var article in ((List<Article>)ViewBag.Articles))
                {
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <a asp-route-id="@article.DocumentId" asp-controller="Article" asp-action="ViewArticle">
                                    <img src="@article.HeaderImage" alt="" style="object-fit: cover; height: 40vh;" />
                                </a>
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>Здоровье</p>
                                    <h2>@article.Title</h2>
                                </header>
                                <p>
                                    @{
                                        var doc = new HtmlDocument();
                                        doc.LoadHtml(article.Content);
                                        var text = WebUtility.HtmlDecode(doc.DocumentNode.SelectSingleNode("//body").InnerText);
                                        var content = text.Length > 200 ? text.Substring(0, 200) + "..." : text;
                                    }
                                    @content
                                </p>
                                <footer class="align-center">
                                    <a class="button alt" asp-route-id="@article.DocumentId" asp-controller="Article" asp-action="ViewArticle">Читать далее</a>
                                    @*@if (user != null && user.IsAdministrator)
                                    {
                                        <a class="button special" asp-route-id="@article.Id" asp-controller="Article" asp-action="EditArticle">Редактировать</a>
                                    }*@
                                </footer>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>